<h1>TO DO</h1>

<div class="container">
  <%= week_calendar(events: @meetings, end_attribute: :end_time) do |date, meetings| %>
    <%= date %>

    <% meetings.each do |meeting| %>
      <div class='meeting'>
        <%= meeting.name %>
      </div>
    <% end %>
  <% end %>
</div>
